# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Misc
.DS_Store
*.pem

# Node
node_modules/
